<div class="image-name">
  <table class="table table-striped table-bordered">
    <tr class="tb-head">
      <th>Name</th>
      <th>Achievement Ratio</th>
      <th>Annual SO Target</th>
      <th>SO Result</th>
      <th>Prospect No.</th>
      <th>New Prospect</th>
      <th>Success</th>
      <th>Lost</th>
    </tr>
    <tr class="tb-body">
      <td>
        <img src="https://www.img.in.th/images/fc3625e341b85ac3708ea3b711329a4f.png" alt="fc3625e341b85ac3708ea3b711329a4f.png" border="0"
          class="img-thumbnail">
      </td>
      <td style="vertical-align:middle">37%</td>
      <td style="vertical-align:middle">30,000,000</td>
      <td style="vertical-align:middle">11,000,000</td>
      <td style="vertical-align:middle">12</td>
      <td style="vertical-align:middle">2</td>
      <td style="vertical-align:middle">4</td>
      <td style="vertical-align:middle">1</td>
    </tr>
  </table>
</div>