<md-tab-group>
  <md-tab label="Sales's Dashboard">
    <app-sale-dashboard></app-sale-dashboard>
  </md-tab>
  <md-tab label="Manager's Dashboard">
    Content 2
  </md-tab>
  <md-tab label="Director's Dashboard">
    Content 2
  </md-tab>
  <md-tab label="New Appointment">
    Content 2
  </md-tab>
  <md-tab label="Prospect List">
    Content 2
  </md-tab>
  <md-tab label="SO Plan/Actual">
    Content 2
  </md-tab>
  <md-tab label="IV Plan/Actual">
    Content 2
  </md-tab>
  <md-tab label="Incentive">
    Content 2
  </md-tab>
  <md-tab label="Setting">
    Content 2
  </md-tab>
</md-tab-group>