<div class="apr">
  <md-tab-group class="apr-tab">
    <md-tab label="APR">
      <table class="table table-striped ">
        <tr class="tb-head">
          <th>SO Target</th>
          <th>SO Actual</th>
          <th>Achievement</th>
        </tr>
        <tr class="tb-body">
          <td>3,000,000</td>
          <td>1,800,000</td>
          <td>60%</td>
        </tr>
      </table>
    </md-tab>
    <md-tab label="1Q">
      Content 2
    </md-tab>
    <md-tab label="1H">
      Content 2
    </md-tab>
  </md-tab-group>
</div>